<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="../CSS/style.css">

</head>
<body>
<div class="page-body">
    <div class="container">
        <div class="title">
            <h1>Placeholder</h1> 
        </div>

        <div class="wrapper flex"> 
            <div class="PanelNav flex">
                <a href="index.html" class="NavMain Nav">Home</a>

                <a href="shop.html" class="Nav TXT"> <span>Shop</span> </a>
                <a href=" " class="Nav TXT"> <span>Modifications & Issues</span> </a>
                <a href=" " class="Nav TXT">About</a>
                <a href=" " class="Nav TXT">Terms</a>
            </div>
        </div>

        <main>
            <section class="content">
                <div>
                    <time datetime="12-13-2024">12 December 2024</time>
                    <h2>Full release av serveren</h2>
                    <p>Serveren skal release </p>
                    <P>PLACEHOLDER3</P>
                    <P>PLACEHOLDER4</P>
                </div>
            </section>


            <aside class="sidebar">
                <div class="server-info">
                    <h3>Kuben anarchy</h3>
                    <p>Kuben anarchy er en server laget i 2024 med en verden som
                        aldri resetter, som har pvp med en ingen regler med minimum 
                        modifikasjoner
                    </p>
                    <p><strong>0 Playing Now</strong></p>
                    <a href="PLACEHOLDER.ORG">PLACEHOLDER</a> 
                </div>
            </aside>
        </main>
    
        <footer> KubenAnarchy © 2024 </footer>
    </div>
</div> 
</body>
</html>