<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="title">
        <h1>Placeholder</h1> 
    </div>
<div class="page-body">
    <div class="container">

        <div class="wrapper flex"> 
            <div class="PanelNav flex">
                <a href="main.html" class="Nav TXT">Home</a>
                <a href="shop.html" class="NavMain Nav"> <span>Shop</span> </a>
                <a href=" " class="Nav TXT"> <span>Modifications & Issues</span> </a>
                <a href=" " class="Nav TXT">About</a>
                <a href=" " class="Nav TXT">Terms</a>
            </div>
        </div>
    </div>   
    
</body>
</html>