<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="title">
        <h1>Placeholder</h1> 
    </div>
<div class="page-body">
    <div class="container">

        <div class="wrapper flex"> 
            <div class="PanelNav flex">
                <a href="index.html" class="Nav TXT">Home</a>
                <a href="shop.html" class="NavMain Nav"> <span>Shop</span> </a>
                <a href=" " class="Nav TXT"> <span>Modifications & Issues</span> </a>
                <a href=" " class="Nav TXT">About</a>
                <a href=" " class="Nav TXT">Terms</a>
            </div>
        </div>
    </div>   
    
      <h1>Shop</h1>
  <div id="items">
    <div class="item">
      <h3>Product 1</h3>
      <p>Price: $10</p>
      <button onclick="addToCart('Product 1', 10)">Add to Cart</button>
    </div>
    <div class="item">
      <h3>Product 2</h3>
      <p>Price: $20</p>
      <button onclick="addToCart('Product 2', 20)">Add to Cart</button>
    </div>
  </div>
  <h2>Cart</h2>
  <div id="cart"></div>
  <script src="static/js/shop.js"></script>



</body>
</html>