.body {

}

.flex { 
    display: flex;
}

.page-body{
    margin-bottom: 60px;
}

.container {
    /* margin-left: 0vw;
    margin-right: 0vw;  */
    max-width: 100%;
    width: 100%;
    /* fucks sum up idk why */
}

.title {
    text-align: center;
    font-size: x-large;
    width: 100vw;
}

.PanelNav {
    background-color: black;
    padding-top: .1rem;
    padding-bottom: 0.1rem;

    /* --tw-bg-opacity: 1;
    background-color: rgb(65 65 65 / var(--tw-bg-opacity));
    --tw-shadow: 0 4px 8px rgba(0, 0, 0, .15);
    --tw-shadow-colored: 0 4px 8px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); */
}

.Nav {
    color: white;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 23px;
    padding-bottom: 23px;
    font-size: 19px;
    font-weight: 600;
}

.Nav:hover {
    font-size: 125%; 
}